body {
	direction: rtl;
}
h2 {
	text-align: center;
	direction: rtl;
}
h3 {
	text-align: right;
	direction: rtl;
}
.talmud .biur {
	direction: rtl;
	text-align: justify;
    text-align-last: right;
}

