body {
	direction: rtl;
	text-align: justify;
	text-align-last: auto;
}
h3 {
	text-align: right;
}
.seif {
	margin-top: .35em;
}
.seifh {
	font-weight: bold;
	font-size: .5em;
	vertical-align: 30%;
}
