body {
	direction: rtl;
}
h2 {
	text-align: center;
	direction: rtl;
}
h3 {
	text-align: right;
	direction: rtl;
}
.right {
	direction: rtl;
	text-align: justify;
    text-align-last: right;
	}
.left {
	direction: ltr;
	text-align: justify;
    text-align-last: left;
	}

